<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1145.v7f2433caa07f">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2648.va9433432b33c">
    <script>node{
    stage(&apos;ping_pong&apos;){
        &apos;ansible -m ping -i inventaire 192.168.136.131&apos;
    }
    stage(&apos;install_pkg&apos;){
        &apos;ansible -i inventaire -m yum -a &quot;name=bash-completion state=present&quot;&apos;
    }
    stage(&apos;test_docker&apos;){
        &apos;docker-version&apos;
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>